@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}
body{
    background: url('./images/london-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    /* background-size: 100px 100px; */
    /* background-size: 100vw 100vh; */
}
.container{
    /* border: 9px solid black; */
    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
}
.container h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid rgb(143, 21, 152);
    margin-bottom: 50px;
    padding: 13px 0px;
    margin-bottom: 15px;
}
.box{
    width: 100%;
    /* border: 2px solid purple; */
    border-bottom: 2px solid purple;
    margin: 32px 0;
}
.box i{
    width: 25px;
    /* float: left; */
    text-align: center;
    /* padding: 0 25px; */
}
.box input{
    width: 75%;
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    outline: none;
    color: white;
    background: none;
}
.btn{
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    /* margin: auto; */
    margin: 12px 0;
    padding: 8px 24px;
    border-radius: 12px;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 1px rgb(128, 0, 179);
}
.btn:hover{
    color: purple;
    background: white;
    box-shadow: 2px 2px 1px rgb(128, 0, 179);;
}